*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite BE WAL", cursive;
   
}

.mobileBg
{
    display: none;
}
.mobileBg img{
    width: 100%;
    height: auto;
}



.header-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;
    font-size: 1.8rem;
}

.header-percentage-container{
    position: relative;
}

.header-percentage{
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}


.current-level{
    font-size: 1.1rem;
    font-weight: 900;
}


.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;    
}

.rectangle{
    /* background-color: red; */
    width: 40px;
    height: 20px;
    /* background-color: red; */
}
.positivePoints .rectangle{
    background-color: green;
    /* background-color: black; */
}
.negativePoints .rectangle{
    background-color: red;
}

.tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-btn
{
    margin: 10px 0 ;
    border-radius: 3rem;
    overflow: hidden;
    background-color: hsl(120, 27%, 86%);
    width: 60%;
    display: flex;
    height: auto;
    align-items: center;
    cursor: pointer;
    background-color: #00000075;
    color: white;
    border: none;
    box-shadow: 1px -9px 18px #980998db;
}
.task-btn .details
{
    padding: 10px ;
    text-align: start;
    width: 80%;
}

.task-btn .score{
    width: 20%;
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}

.pos .score{
    /* background-color: green; */
    background-color: #5c475c80;
}

.neg .score{
    background-color: #5c475c80;
}


.nextLvl{
    /* position: absolute; */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    right: 0;
    /* margin: 10px 0; */
    padding: 15px 0;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}
.nextLvl span{
    display: block;
    
}


/* css for daily task slide bar  */
.dailyTasksBar{
    background-color: black;
    color: white;
    position: absolute;
    top: 2rem;
    font-weight: 900;
    padding: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* css for daily tasks  */

.daily-task{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.97);
    color: rgb(241, 241, 241);
    padding: 10px;
}
.tasks-daily {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: start;
    padding: 15px 0;
    /* justify-content: start; */
}

.taskDetails {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.taskDetails.show-description {
    margin-bottom: 50px; /* Adjust based on the description height */
}

.taskDescription {
    display: none;
    position: relative; /* Change to relative to affect document flow */
    /* background-color: white; */
    border: 1px solid #ccc;
    /* width: 100%; */
    padding: 10px;
    margin-top: 5px;

}

.taskDetails.show-description .taskDescription {
    display: block;
}

.tasks-daily .check-btn {
    width: 25px;
    height: 25px;
    padding: 4px;
    border: 2px solid #e81212;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.tasks-daily .check-btn.checked {
    background-color: green;
    border-color: green;
    position: relative;
}

.tasks-daily .check-btn.checked::after {
    content: '✔';
    color: white;
    font-size: 12px;
    position: absolute;
}
.daily-task .close-btn
{
    padding: 5px;
    font-weight: 800;
    border: none;
    position: absolute;
    top: 10px;
    right: 20px;

}



/* progress bar css  */

.range {
    position: relative;
    background-color: #333;
    width: 300px;
    height: 30px;
    transform: skew(30deg);
    font-family: "Orbitron", monospace;
  
    &:before {
      --width: calc(var(--p) * 1%);
  
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #f3e600;
      z-index: 0;
      animation: load 0.5s forwards linear, glitch 2s infinite linear;
    }
  
    &:after {
      counter-reset: progress var(--p);
      content: counter(progress) "%";
      color: #000;
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%) skewX(-30deg);
      z-index: 1;
    }
  
    &__label {
      transform: skew(-30deg) translateY(-100%);
      line-height: 1.5;
    }
  }
  
  @keyframes load {
    to {
      width: var(--width);
    }
  }
  
  @keyframes glitch {
    0%,
    5% {
      transform: translate(0, 0);
    }
    1% {
      transform: translate(-5%, -10%);
    }
    2% {
      transform: translate(10%, 30%);
    }
    3% {
      transform: translate(-43%, 10%);
    }
    4% {
      transform: translate(2%, -23%);
    }
  }
  


@media (max-width : 450px)
{
    body{
        color: rgb(208, 154, 46);
    }
    .task-btn
    {
        flex-direction: column;
    }
    .task-btn .score{
        width: 100%;
    }
    .mobileBg {
        display: block;
        background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
        radial-gradient(circle, rgba(75, 0, 130, 0.6), rgba(0, 0, 0, 0.9)),
            url("https://w0.peakpx.com/wallpaper/736/971/HD-wallpaper-solo-leveling-sung-jin-woo.jpg") ;
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: -1000;
    }
    
}